@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css?family=Sigmar+One&display=swap');
#app {
  margin:0;
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #E8FDFF;
  overflow: hidden;
}

.field {
  display:flex;
  position:realtive;
  margin:5em auto;
  width:500px;
  flex-direction:row;
  -moz-box-shadow:    0px 0px 2px 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
  box-shadow:         0px 0px 2px 0px rgba(0,0,0,0.2);
}

.field>input[type=text],
.field>button {
  display:block;
  font:1.2em 'Open sans';
}

.field>input[type=text] {
  flex:1;
  padding:0.6em;
  border:0.2em solid #819090;
  border-left: none;
  border-top: none;
}

.field>button {
  padding:0.6em 0.8em;
  background-color: #819090;
  color: #fff;
  border:none;
}

.canvas {
    top: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    margin: auto;
    right: 0;
  
}

.title {
    font-size: 10em;
    color: wheat;
    text-align: center;
}

.description{
  margin-bottom: 1em;
  font-size: 3em;
    color: wheat;
    text-align: center;

}

.Maya-badge{
  transform: rotate(90deg);
}
.French-badge{
  transform: rotate(180deg);
}
.Espagnol-badge{
  transform: rotate(0deg);
}
.Olmeques-badge{
  transform: rotate(270deg);
}

.home-body{

   background-image: url("./../../assets/fond3.jpeg");
   position: absolute;
   background-size: cover;
   min-width: 100vw;
   min-height: 100vh;
}

.game-container{
  /* background-image: url("./../../assets/sea.jpg"); */
   background-size: cover;
   min-width: 100vw;
   min-height: 100vh;

}
.firstDiv{
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.secondDiv{
  display: flex;
  justify-content: space-evenly;
  margin: 2em;
}

.badge {
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: center;
    align-items: center;
}

.img-badge {
  width: 60%;
  height: auto;
}

.img-badge-olmeque {
  width: 70%;
  height: auto;
}
.text-badge-available {
    justify-content: center;
    color: #31f564;
    font-size: 2em;
}

.text-badge-taken {
    justify-content: center;
    color: #ff6767;
    font-size: 2em;
}

 #cog {
	-webkit-animation: cog 30s infinite;			
	-moz-animation: cog 30s infinite;
	-ms-animation: cog 30s infinite; 			
	animation: cog 30s infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;		
	-ms-animation-timing-function: linear;
	animation-timing-function: linear	
}
@keyframes cog {
100%{ 
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg)
}
}
